.ticker-tape-container {
  background-color: #1D1F28;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
}

.ticker-tape {
  display: flex;
  margin-left: -1rem;
  margin-right: -1rem;
}

.ticker-element {
  margin-left: 1rem;
  margin-right: 1rem;
  align-self: flex-start;
  flex: none;
  width: 16rem;
}

.ticker-components {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.ticker-component {
  margin-left: 1rem;
  margin-right: 1rem;

}

@keyframes ticker-kf {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-260rem, 0, 0); /*TODO Calculate this better*/
  }
}

.img-ticker {
  animation: ticker-kf 20s linear infinite;
}

.banner-image {
  height: 45px;
}

.vertical-line {
  background-color: var(--lightgray);
  height: 40px;
  width: 1px;
}

.banner-element {
  display: flex;
}