@import "../../App.css";
.logo {
    width: "90px"
}
.logo:hover {
    cursor: pointer;
}
.navbar-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: var(--nav-spacing);
    padding-right: var(--nav-spacing);
}
.navbar-main-button {
    padding-right: 10px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-container {
    position: fixed;
    width: 100%;
    background-color:#14161F;
    z-index: 9;
}
.navbar-button {
    color: var(--lightgray);
    font-family: var(--font);
    font-weight: var(--medium);
    margin-left: var(--nav-spacing);
    margin-right: var(--nav-spacing);
}
.navbar-button:hover {
    color: white;
    cursor: pointer;
}